<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="4" parallel="methods" name="Test">
  <parameter name="URL" value="https://www.aa.com"/>
   <parameter name="regularusername" value="ABC123"/>
   <parameter name="regularlastname" value="PATEL"/>
   <parameter name="eliteusername" value="XYZ2000"/>
   <parameter name="elitelastname" value="KHAN"/>
  
    <classes>
      <class name="testlocale.TestsEn_US"></class>
      <class name="testlocale.TestsEs_MX"></class>
      <class name="testlocale.TestsPt_BR"></class>     
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
